*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
tools/gjslint/build/
tools/gjslint/dist/
tools/gjslint/closure_linter.egg-info
lib/storage/build/
lib/pageTransition/build/
lib/scrollView/build/
lib/dialog/build/
lib/switchable/build/
lib/overlay/build/
lib/position/build/
lib/flip/build/
lib/floatLayer/build/
lib/android-shim/build/
lib/parser/build/

